ul li {
  display: inline;
}

ul li a {
 text-decoration: none;
 padding:5px 0;
 width:100px;
 background:white;
 color:skyblue;
 float:left;
 text-align:center;
 border-left:1px solid #fff;
}

ul li a:hover {
  background:#a2b3a1;
  color:grey;
}

.navbar-custom {
    background-color: #0d4279;
    border-color: #073366;
}
.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    border-radius: 0;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
@media (min-width: 768px)
.navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 0;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px)
.navbar {
    border-radius: 4px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


 
