body {
    font-family: 'Play', sans-serif;
    margin: 0 auto;
}
h1 {
    font-size: 70px;
    color: black;
    text-align:center;
}
header {
    text-align: center;
    background-size: cover;
    color: #3399FF;
}
.width {
    width: 70%;
    margin: 0 auto;
}
img {
    margin: 5px 0px 0px 0px;
    border: 1px solid white;
    border-radius: 10px;
    object-fit: contain;
}

a {
    color: white;
}
ul {
    padding: 10px;
    background: #14638A;
    text-decoration: none;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}


ul li a:hover {
  background:#a2b3a1;
  color:#148A3B;
}
#social-buttons button {
    color: white;
}
.btn btn-lg {
    margin: 0 auto;
}
.btn-twitter {
    background-color: #00acee;
    border-color: #009ad5;
}
.btn-facebook {
    background-color: #4868ac;
    border-color: #314776;
}
.btn-pinterest {
    background-color: #b62f26;
    border-color: #b62f26;
}
.jumbotron {
    min-height: 600px;
    background-image: url('images/fruit-and-veg.jpg');
    background-size: cover;
    background-attachment: fixed;
}