body {
    font-family: 'Play', sans-serif;
    margin: 0 auto;
}
h1 {
    font-size: 70px;
}
img {
    margin: 5px 0px 0px 0px;
    border: 1px solid white;
    border-radius: 10px;
}
header {
    text-align: center;
    background: url("Users/User/Documents/Coding_course/cfg-project/dream_destination_1.jpeg");
    background-size: cover;
    color: #3399FF;
}
a {
    color: white;
}
ul {
    padding: 10px;
    background: black;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
